.message{data: {message:{id: message.id}}}
  .upper-message
    .upper-message__user-name
      = message.user.name
    .upper-message__date
      = message.created_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d(%a) %H:%M")
  .under-message
    - if message.content.present?
      %p.under-message__content
        = message.content
    = image_tag message.image.url, class: 'under-message__image' if message.image.present?