.side-bar
  .header
    %h3.header__name
      ユーザー名
    %ul.header__menus
      %li.menu
        = link_to '#' do
          = fa_icon 'edit', class: 'icon'
      %li.menu
        = link_to '#' do
          = fa_icon 'cog', class: 'icon'
  .groups
    .group
      .group__name
        グループ名1
      .group__message
        メッセージ1
    .group
      .group__name
        グループ名2
      .group__message
        メッセージ2